body{
    background-color: #F5F5DC;
    margin: 1px; 
    padding: 1px ; 
}


#navBarDiv{
    padding: 0; 
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
      

}


#navBarList{
    list-style: none;
    font-size: 30px; 
    /* background-color:black;  */
    height: 70px; 
    padding: 0; 
    color: black;
    margin: 0px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    padding-bottom: 0px; 
    background-color: lightslategray;
     

     
     
   
}

body{
    padding: 0; 
    margin: 0; 
}


.navBarLi{
    padding-left: 10px; 
    margin-left: 10px; 
}

li a {
    display: block;
     padding: 10px;  
}

#bodyImage{
    background-image:  url("https://cdn.kangacoders.com/direct/helionresearch.com/shopper/img/visual-banner.png"); 
    height: 450px;
    margin-top: 0; 
    padding-top: 1px; 

     
}



#signInForm{
    margin-left: auto; 
    margin-right: auto; 
    float: left; 
    padding: 30px; 
    /* text-align: center;  */
    width: 450px;
    /* background-color: greenyellow; */
    display: block;
    margin: 50px;  
    font-size: 25px; 
    border-right: 2px solid gainsboro; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.formInout{
    height: 30px;
    width: 350px;
    margin: 5px; 
    border: 2px solid gainsboro; 
    padding: 3px;
    font-size: 20px; 
    text-align: left; 
    
}





.submitButton{
    height: 50px;
    border: none; 
    padding: 14px 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFA963;
}

#questionForm{
    margin-left: auto; 
    margin-right: auto; 
    float: right; 
    padding: 30px; 
    /* text-align: center;  */
    width: 450px;
    /* background-color: greenyellow; */
    display: block;
    margin: 50px;  
    font-size: 25px; 
    border-left: 2px solid gainsboro; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
#jj{
    height: 100px; 
    background-color: brown;
    width: 100px;
    float: auto;
}

.icons{
    margin: 5px; 
}


